<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spoutlets &mdash; Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">

        <!--[if lt IE 9]>
            <script src="../public/js/libs/iepp.js"></script>
        <![endif]-->

    </head>
    <body>
       <header>
          <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">

                      <a href="index.html" class="brand"><strong>Spoutlets</strong>.com</a>

                       <ul class="nav pull-right">
                          <li><a href="#register" data-toggle="modal"><i class="icon-check icon-white"></i> Register</a></li>
                          <li><a href="#sign-in" data-toggle="modal"><i class="icon-lock icon-white"></i> Sign in</a></li>
                      </ul> 
                      <div id="sign-in" class="modal modal-form hide fade">
                          <div class="wrapper-modal">
                              <a class="close pull-right" data-dismiss="modal">&times;</a>
                              <div class="page-header">
                                  <h2>Sign in</h2>
                              </div>
                              <hgroup class="section-header">
                                  <h2>Almost there!</h2>
                              </hgroup>
                              <form class="form-horizontal">
                                  <fieldset>
                                    <div class="control-group">
                                      <label class="control-label" for="input01">Username</label>
                                      <div class="controls">
                                        <input type="text" class="input-xlarge" id="input01">
                                      </div>
                                    </div>
                                    <div class="control-group">
                                      <label class="control-label" for="input02">Password</label>
                                      <div class="controls">
                                        <input type="password" class="input-xlarge" id="input02">
                                     </div>
                                    </div>                            
                                </fieldset>
                              </form>
                              <div class="form-actions">
                                  <a href="tracker.html" class="btn btn-primary btn-large pull-right">Sign in</a>
                              </div>
                          </div>
                      </div>  

                      <div id="register" class="modal modal-form hide fade">
                          <div class="wrapper-modal">
                              <a class="close pull-right" data-dismiss="modal">&times;</a>
                              <div class="page-header">
                                  <h2>Create account</h2>
                              </div>
                              <hgroup class="section-header">
                                  <h2>Almost there!</h2>
                              </hgroup>
                              <form class="form-horizontal">
                                  <fieldset>
                                    <div class="control-group">
                                      <label class="control-label" for="input01">Username</label>
                                      <div class="controls">
                                        <input type="text" class="input-xlarge" id="input01">
                                      </div>
                                    </div>
                                    <div class="control-group">
                                      <label class="control-label" for="input02">Password</label>
                                      <div class="controls">
                                        <input type="password" class="input-xlarge" id="input02">
                                     </div>
                                    </div>                            
                                </fieldset>
                              </form>
                              <div class="form-actions">
                                  <a href="tracker.html" class="btn btn-primary btn-large pull-right">Register</a>
                              </div>
                          </div>
                      </div>                       
                  </div>
              </div>
          </div>
       </header>
       <div class="container">
         <div class="hero-unit">
           <div class="row">
             <div class="span7">
               <h2 style="margin-bottom:20px">
                  Your mind's online wellness center
               </h2>
               <ul>
                 <li>
                    Track your mood.
                 </li>
                 <li>
                    Vent anonymously.
                 </li>
                 <li>
                    Video chat with Therapists.
                 </li>
               </ul>
             </div>
             <div class="span3">
               <div class="mood-face rate10"><!-- --></div>
             </div>
           </div>
           <div class="row">
             <div class="span12">
             <h3>Want to see our progress? 
               <a href="tracker.html" class="btn btn-primary btn-large">Check it out »</a>
             </h3>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="span4">
             <h2>Mood Tools</h2>
             <p>
              Track your mood. View ups and downs, analyze trends, and understand mood patterns. Reflect on life events that cause them and take control of your emotions. See how other students are feeling.
             </p>
           </div>
           <div class="span4">
             <h2>Social Therapy</h2>
             <p>
              Vent anonymously about your issues. Get advice from students in your support circle. Relate to your online peers and give feedback about their emotional problems. 
             </p>     
           </div>
           <div class="span4">
             <h2>You Time</h2>
             <p>
              Video chat with therapists, whenever and wherever. Find a therapist you like, share your mood trends, and let them give you a deeper understanding of your issues. Insurance will take care of the rest.
             </p>
           </div>
         </div>
       </div> 

    <script>window.jQuery || document.write('<script src="../public/js/jquery/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>
    </body>
</html>
    