<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spoutlets &mdash; Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">

        <!--[if lt IE 9]>
            <script src="../public/js/libs/iepp.js"></script>
        <![endif]-->

    </head>
    <body>
       <header>
          <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">

                      <a href="index.html" class="brand"><strong>Spoutlets</strong>.com</a>
              
                  </div>
              </div>
          </div>
       </header>
       <div class="container">
         <div class="hero-unit">
           <div class="row">
             <div class="span7">
               <h2 style="margin-bottom:20px">
                  Your mind's online wellness center
               </h2>
               <ul>
                 <li>
                    Track your mood.
                 </li>
                 <li>
                    Vent anonymously.
                 </li>
                 <li>
                    Video chat with Therapists.
                 </li>
               </ul>
             </div>
             <div class="span3">
               <img src="../public/img/moods/happy.png" width="100" height="100" alt="" class="userpic" />
             </div>
           </div>
           <div class="row">
             <div class="span12">
             <h3>Want to see our progress? 
               <a href="tracker.html" class="btn btn-primary btn-large">Check it out »</a>
             </h3>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="span4">
             <h2>Mood Tools</h2>
             <p>Track your happiness levels and record life events in your online journal. Analyze trends and events and reflect upon your happiness balance.
             </p>
           </div>
           <div class="span4">
             <h2>Social Therapy</h2>
             <p>Vent anonymously about whatever problems you're going through and get unbiased support and resources from other students. Relate to other students and give feedback and suggestions on their issues.
             </p>     
           </div>
           <div class="span4">
             <h2>You Time</h2>
             <p>Chat face-to-face with therapists for instant professional help using your webcam. Share mood trends and journal entries to help therapists find deeper issues. Let insurance take care of the rest.
             </p>
           </div>
         </div>
       </div> 
    </body>
</html>
    