<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spoutlets &mdash; Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">

        <!--[if lt IE 9]>
            <script src="../public/js/libs/iepp.js"></script>
        <![endif]-->

    </head>
    <body>
       <header>
          <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">

                      <a href="index.html" class="brand"><strong>Spoutlets</strong>.com</a>

                      <div class="greetings">
                        <div class="greetings-face greetings-rate10"><!-- --></div>
                        <span>How's it going, greatbillsofire?</span>
                      </div>

                      <ul class="nav pull-right">
                          <li><a href="#"><i class="icon-cog icon-white"></i> Settings</a></li>
                          <li><a href="index.html"><i class="icon-off icon-white"></i> Sign out</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </header>
    <div class="container">
        <div id="main" class="clearfix">
            <div class="row">
                <div class="page-nav">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="tracker.html">Mood Tools</a>
                        </li>
                        <li>
                            <a href="vent-stream.html">Social Therapy</a>
                        </li>
                        <li>
                            <a href="#">You time</a>
                        </li>
                    </ul>
                </div>
            </div>
    	
            <div class="row">
                <div class="tabbable tabs-left nav-left-col">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="tracker.html"><i class="icon-log-book-header"></i> Tracker</a>
                        </li>
                        <li>
                            <a href="patterns.html"><i class="icon-stats-header"></i> Patterns</a>
                        </li>
                        <li class="active">
                            <a href="meters.html"><i class="icon-map-marker-header"></i> Meters</a>
                        </li>
                    </ul>
                </div>
              
                <div class="tab-content">
                    <div class="vertical-border"><!-- --></div>
                    <div class="tab-pane active">
                        <header class="page-header-main">
                            <h1>Meters <i class="icon-map-marker-header"></i></h1>
                        </header>

                        <section>
                            <hgroup class="section-header">
                                <h2>Mood Map</h2>
                                <h4>See how other campuses are feeling</h4>
                            </hgroup>
                            <div class="form-horizontal">
                                <form action="#" method="post">
                                    <div class="control-group">
                                        <label class="control-label text-align-left" for="fld-university">Select a campus</label>
                                        <div class="controls">
                                            <select id="fld-university" class="input-xlarge">
                                                <option>Massachusetts Institute of Technology</option>
                                                <option>Boston University</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="chart-graph-meters">
                                <!-- chart graph placeholder -->
                            </div>
                        </section> <!-- end of tab-pane section -->
                    </div> <!-- end of the tab-pane C1 -->
                </div>
             </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="footer-col">
                    <h4>The Company</h4>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Press</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Information</h4>
                    <address>
                        Telemend <br />
                        395 Page Mill Road <br />
                        Palo Alto, CA 94306 <br />
                        <a href="mailto:">Support Email</a>
                        <strong class="phone">
                            Phone: 
                            <span>1.800.273.TALK (8255)</span>
                        </strong>
                    </address>
                </div>
                <div class="footer-col">
                    <h4>Our Blog</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. Audito doctrinis paruit unum conversa ait.
                        <a href="" class="read-more">read more&hellip;</a>
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Disclaimer</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. 
                    </p>
                    <p>
                        Audito doctrinis paruit unum conversa ait.
                    </p>
                </div>
            </div>
            <div class="row copyright">
                <div class="pull-left">
                    <span>Copyright &copy; 2012 <a href="">Spoutlets.com</a></span>
                </div>
                    <a href="" class="logo-footer pull-right">Spoutlets.com</a>
            </div>
        </footer>
        
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="../public/js/jquery/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/js/highcharts/highcharts.js"></script>
    <script src="../public/js/script.js"></script>
    </body>
</html>