<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spoutlets &mdash; Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">

        <!--[if lt IE 9]>
            <script src="../public/js/html5shiv/iepp.js"></script>
        <![endif]-->

    </head>
    <body>
       <header>
          <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">

                      <a href="index.html" class="brand"><strong>Spoutlets</strong>.com</a>

                      <div class="greetings">
                        <div class="greetings-face greetings-rate10"><!-- --></div>
                        <span>How's it going, greatbillsofire?</span>
                      </div>                      

                      <ul class="nav pull-right">
                          <li><a href="#"><i class="icon-cog icon-white"></i> Settings</a></li>
                          <li><a href="index.html"><i class="icon-off icon-white"></i> Sign out</a></li>
                      </ul>                 
                  </div>
              </div>
          </div>
      </header>    
    <div class="container">       
        <div id="main" class="clearfix">
            <div class="row">
                <div class="page-nav">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="tracker.html">Mood Tools</a>
                        </li>
                        <li class="active">
                            <a href="vent-stream.html">Social Therapy</a>
                        </li>
                        <li>
                            <a href="#">You time</a>
                        </li>
                    </ul>
                </div>
            </div>
      
            <div class="row">
                
                <div class="tabbable tabs-left nav-left-col">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="vent-stream.html"><i class="icon-conversation-header"></i> Vent Stream</a>
                        </li>
                        <li>
                            <a href="support-circle.html"><i class="icon-vector-path-circle-header"></i> Support Circle</a>
                        </li>
                        <li class="active">
                            <a href="my-profile.html"><i class="icon-user-header"></i> My Profile</a>
                        </li>
                    </ul>

                </div>
            
              
                <div class="tab-content">
                    <div class="vertical-border"><!-- --></div>
                    <div class="tab-pane active">
                        <header class="page-header-main">
                            <h1>My Profile <i class="icon-user-header"></i></h1>
                        </header>

                        <div class="row">
                            <div class="pane-left-col">
                                <section class="no-header">
                                    <div class="mood-status centered">
                                        <div class="mood-face rate10"><!-- --></div>
                                    </div>
                                    <p class="centered">
                                       24 &mdash; M <br />
                                       Tufts University <br />
                                       Joined Sept 2011 
                                    </p>
                                </section> <!-- end of tab-pane section -->                            

                            </div>

                            <div class="pane-right-col">
                                <section class="no-header">
                                    <div id="chart-graph-mood">
                                        Mood graph placeholder
                                    </div>
                                </section> <!-- end of tab-pane section --> 
                            </div>
                        </div>

                        <div class="top-border">
                        <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Vents</a>
                                </li>
                                <li>
                                    <a href="#">Support Circle</a>
                                </li>
                            </ul>
                            <div class="pane-left-col-wide">
                                <section class="article-list">
                                    <article>
                                        <div class="page-header">
                                            <h3>I spend a lot of time thinking about&hellip; <a href="#" class="lnk-edit pull-right">Edit</a></h3>
                                        </div>
                                        <p>
                                            What my future is going to be. I've been suffering with some health problems &amp; it interferes with my daily life. This makes me wonder will I be happy in the future and how can I make sure that I am happy.
                                        </p>
                                    </article>
                                    <article>
                                        <div class="page-header">
                                            <h3>What cheers me up&hellip; <a href="#" class="lnk-edit pull-right">Edit</a></h3>
                                        </div>
                                        <p>
                                          Long walks really clear my head. Also, playing tennis and getting a sweat up generally perks up my mood.
                                        </p>
                                    </article>
                                    <article>
                                        <div class="page-header">
                                            <h3>What I'm doing with my life&hellip; <a href="#" class="lnk-edit pull-right">Edit</a></h3>
                                        </div>
                                        <p>
                                            I'm trying to figure out just that&hellip; especially in this job market. I have some ideas, like I'm building this website with my friends, but other than this, I don't have any particular field. i.e. finance, law, in mind that I should pursue.
                                        </p>
                                    </article>
                                </section>
                            </div>
                            <div class="pane-right-col-narrow">
                                <div class="page-header">
                                    <h3>Mood tags</h3>
                                </div>
                                    <div class="well">
                                        <a href="" class="lnk-tag" style="font-size: 1em;">#billie</a>
                                        <a href="" class="lnk-tag" style="font-size: 1.5em;">#finals</a>
                                        <a href="" class="lnk-tag" style="font-size: 2em;">#4.0</a>
                                        <a href="" class="lnk-tag" style="font-size: 2.5em;">#tryouts</a>
                                        <a href="" class="lnk-tag" style="font-size: 1em;">#relationship</a>
                                        <a href="" class="lnk-tag" style="font-size: 2em;">#money</a>
                                        <a href="" class="lnk-tag" style="font-size: 1.5em;">#tired</a>
                                    </div>
                            </div>
                        </div>

                    </div> <!-- end of the tab-pane A1 -->
                </div>
             </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="footer-col">
                    <h4>The Company</h4>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Press</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Information</h4>
                    <address>
                        Telemend <br />
                        395 Page Mill Road <br />
                        Palo Alto, CA 94306 <br />
                        <a href="mailto:">Support Email</a>
                        <strong class="phone">
                            Phone: 
                            <span>1.800.273.TALK (8255)</span>
                        </strong>
                    </address>
                </div>  
                <div class="footer-col">
                    <h4>Our Blog</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. Audito doctrinis paruit unum conversa ait.
                        <a href="#" class="read-more">read more&hellip;</a>
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Disclaimer</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. 
                    </p>
                    <p>
                        Audito doctrinis paruit unum conversa ait.
                    </p>
                </div>
            </div>
            <div class="row copyright">
                <div class="pull-left">
                    <span>Copyright &copy; 2012 <a href="">Spoutlets.com</a></span>
                </div>
                    <a href="#" class="logo-footer pull-right">Spoutlets.com</a>
            </div>
        </footer>
        
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="../public/js/jquery/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/js/highcharts/highcharts.js"></script>
    <script src="../public/js/script.js"></script>
    </body>
</html>