<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spoutlets &mdash; Support Circle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">

        <!--[if lt IE 9]>
            <script src="../public/js/html5shiv/iepp.js"></script>
        <![endif]-->

    </head>
    <body>
       <header>
          <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">

                      <a href="index.html" class="brand"><strong>Spoutlets</strong>.com</a>

                      <div class="greetings">
                        <div class="greetings-face greetings-rate10"><!-- --></div>
                        <span>How's it going, greatbillsofire?</span>
                      </div>                      

                      <ul class="nav pull-right">
                          <li><a href="#"><i class="icon-cog icon-white"></i> Settings</a></li>
                          <li><a href="index.html"><i class="icon-off icon-white"></i> Sign out</a></li>
                      </ul>                 
                  </div>
              </div>
          </div>
      </header>    
    <div class="container">       
        <div id="main" class="clearfix">
            <div class="row">
                <div class="page-nav">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="tracker.html">Mood Tools</a>
                        </li>
                        <li class="active">
                            <a href="vent-stream.html">Social Therapy</a>
                        </li>
                        <li>
                            <a href="#">You time</a>
                        </li>
                    </ul>
                </div>
            </div>
      
            <div class="row">
                <div class="tabbable tabs-left nav-left-col">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="vent-stream.html"><i class="icon-conversation-header"></i> Vent Stream</a>
                        </li>
                        <li class="active">
                            <a href="support-circle.html"><i class="icon-vector-path-circle-header"></i> Support Circle</a>
                        </li>
                        <li>
                            <a href="my-profile.html"><i class="icon-user-header"></i> My Profile</a>
                        </li>
                    </ul>
                    <div class="well venting-flow">
                        <h5>Who's venting what?</h5>
                        <ul class="unstyled">
                            <li>
                                <a class="venting-timeline-mood timeline-rate4" href="user-profile.html"><!-- --></a>
                                <div>
                                    <a href="user-profile.html">tearsaresilent</a>
                                    <p>&quot;I have a &hellip;&quot;</p>
                                </div>
                            </li>
                            <li>
                                <a class="venting-timeline-mood timeline-rate9" href="#"><!-- --></a>
                                <div>
                                    <a href="#">xxaphroditexx</a>
                                    <p>&quot;I'm sure we &hellip;&quot;</p>
                                </div>
                            </li>
                            <li>
                                <a class="venting-timeline-mood timeline-rate1" href="#"><!-- --></a>
                                <div>
                                    <a href="#">anxiousreginald</a>
                                    <p>&quot;I dealt with &hellip;&quot;</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#">See more &hellip;</a>
                    </div>
                </div>
              
                <div class="tab-content">
                    <div class="vertical-border"><!-- --></div>
                    <div class="tab-pane active">
                        <header class="page-header-main">
                            <h1>Support Circle <i class="icon-vector-path-circle-header"></i></h1>
                        </header>

                        <div class="top-border clearfix">
                            <ul class="nav nav-pills pull-right">
                                <li class="active">
                                    <a href="#">You added (11)</a>
                                </li>
                                <li>
                                    <a href="#">Added you (4)</a>
                                </li>
                                <li>
                                    <a href="#">You related to (6)</a>
                                </li>
                                <li>
                                    <a href="#">Related to you (10)</a>
                                </li>
                            </ul>
                            <div class="pull-right form-name-search">
                                <form action="#" class="form-inline" method="post">
                                     <div class="input-prepend">
                                        <span class="add-on"><i class="icon-search"></i></span><input class="input-medium" type="text" placeholder="Search by name&hellip;" />
                                    </div>
                                    <button class="btn">Find</button>
                                </form>
                            </div>
                        </div>
                        <div class="support-circle clearfix">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate10"><!-- --></span>
                                        <span class="name">deathbyshrubbery</span>
                                     </a>
                                    <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">deathbyshrubbery</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 5/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                     
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">significantshrinkage</span>
                                     </a>
                                    <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">significantshrinkage</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                        
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">nmw485</span>
                                     </a>
                                    <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">nmw485</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                            
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">deathcrusade</span>
                                     </a>
                                     <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">deathcrusade</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                           
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">cadberry</span>
                                     </a>
                                     <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">cadberry</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                           
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">shhhbillie</span>
                                     </a>
                                    <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">shhhbillie</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                            
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">goober4000</span>
                                     </a>
                                     <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">goober4000</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                           
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">snickerback</span>
                                     </a>
                                      <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">snickerback</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                          
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">xxxaprhoditexxx</span>
                                     </a>
                                     <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">xxxaprhoditexxx</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                           
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">cheesyboy</span>
                                     </a>
                                     <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">cheesyboy</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                           
                                </li>
                                <li class="span3">
                                    <a href="#" class="circle-name">
                                        <span class="mood-face-small s-rate4"><!-- --></span>
                                        <span class="name">brieinandbrieout</span>
                                    </a>
                                     <div class="pop-up hide">
                                        <header>
                                            <h3><a href="#">brieinandbrieout</a></h3>
                                            <small>Last vented in Relationships</small> 
                                        </header>
                                        <h5 class="centered">Support History</h5>
                                        <span class="history-item">You added: 2/2/11</span>
                                        <span class="history-item">You related: 4x</span>
                                    </div>                                          
                                </li>
                            </ul>
                        </div>


                    </div> <!-- end of the tab-pane A1 -->
                </div>
             </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="footer-col">
                    <h4>The Company</h4>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Press</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Information</h4>
                    <address>
                        Telemend <br />
                        395 Page Mill Road <br />
                        Palo Alto, CA 94306 <br />
                        <a href="mailto:">Support Email</a>
                        <strong class="phone">
                            Phone: 
                            <span>1.800.273.TALK (8255)</span>
                        </strong>
                    </address>
                </div>  
                <div class="footer-col">
                    <h4>Our Blog</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. Audito doctrinis paruit unum conversa ait.
                        <a href="#" class="read-more">read more&hellip;</a>
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Disclaimer</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. 
                    </p>
                    <p>
                        Audito doctrinis paruit unum conversa ait.
                    </p>
                </div>
            </div>
            <div class="row copyright">
                <div class="pull-left">
                    <span>Copyright &copy; 2012 <a href="">Spoutlets.com</a></span>
                </div>
                    <a href="#" class="logo-footer pull-right">Spoutlets.com</a>
            </div>
        </footer>
        
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="../public/js/jquery/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/js/highcharts/highcharts.js"></script>
    <script src="../public/js/script.js"></script>
    </body>
</html>