<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spoutlets &mdash; Vent Stream</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">

        <!--[if lt IE 9]>
            <script src="../public/js/html5shiv/iepp.js"></script>
        <![endif]-->

    </head>
    <body>
       <header>
          <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">

                      <a href="index.html" class="brand"><strong>Spoutlets</strong>.com</a>

                      <div class="greetings">
                        <div class="greetings-face greetings-rate10"><!-- --></div>
                        <span>How's it going, greatbillsofire?</span>
                      </div>                      

                      <ul class="nav pull-right">
                          <li><a href="#"><i class="icon-cog icon-white"></i> Settings</a></li>
                          <li><a href="index.html"><i class="icon-off icon-white"></i> Sign out</a></li>
                      </ul>                 
                  </div>
              </div>
          </div>
      </header>    
    <div class="container">       
        <div id="main" class="clearfix">
            <div class="row">
                <div class="page-nav">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="tracker.html">Mood Tools</a>
                        </li>
                        <li class="active">
                            <a href="vent-stream.html">Social Therapy</a>
                        </li>
                        <li>
                            <a href="#">You time</a>
                        </li>
                    </ul>
                </div>
            </div>
      
            <div class="row">
                <div class="tabbable tabs-left nav-left-col">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="vent-stream.html"><i class="icon-conversation-header"></i> Vent Stream</a>
                        </li>
                        <li>
                            <a href="support-circle.html"><i class="icon-vector-path-circle-header"></i> Support Circle</a>
                        </li>
                        <li>
                            <a href="my-profile.html"><i class="icon-user-header"></i> My Profile</a>
                        </li>
                    </ul>
                    <div class="well venting-flow">
                        <h5>Who's venting what?</h5>
                        <ul class="unstyled">
                            <li>
                                <a class="venting-timeline-mood timeline-rate4" href="user-profile.html"><!-- --></a>
                                <div>
                                    <a href="user-profile.html">tearsaresilent</a>
                                    <p>&quot;I have a &hellip;&quot;</p>
                                </div>
                            </li>
                            <li>
                                <a class="venting-timeline-mood timeline-rate9" href="#"><!-- --></a>
                                <div>
                                    <a href="#">xxaphroditexx</a>
                                    <p>&quot;I'm sure we &hellip;&quot;</p>
                                </div>
                            </li>
                            <li>
                                <a class="venting-timeline-mood timeline-rate1" href="#"><!-- --></a>
                                <div>
                                    <a href="#">anxiousreginald</a>
                                    <p>&quot;I dealt with &hellip;&quot;</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#">See more &hellip;</a>
                    </div>
                </div>
              
                <div class="tab-content">
                    <div class="vertical-border"><!-- --></div>
                    <div class="tab-pane active">
                        <header class="page-header-main">
                            <h1>Vent Stream <i class="icon-conversation-header"></i></h1>
                        </header>

                        <div class="row">
                            <section class="no-header">
                               <div class="well vent-form">
                                    <form action="#" class="form-inline" method="post">
                                        <div class="control-group">
                                            <div class="hide vent-control btn-close">
                                                <a class="close">&times;</a>
                                            </div>
                                            <textarea class="bg-white" placeholder="Don't hold it in, Vent&hellip;"></textarea>
                                        </div>
                                        <div class="control-group pull-right hide vent-control">
                                            <select class="input-large">
                                                <option>&mdash; Select a Stream &mdash;</option>
                                                <option>&mdash; Stream &mdash;</option>
                                            </select>
                                            <button class="btn btn-primary" type="submit">Let it out!</button>
                                        </div>
                                    </form>
                               </div>
                            </section> <!-- end of tab-pane section --> 
                        </div>

                        <div class="top-border">
                            <ul class="nav nav-pills pull-left">
                                <li class="active">
                                    <a href="#">Recent Vents</a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort by Stream <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Sort by Date</a></li>
                                        <li><a href="#">Sort by Views</a></li>
                                        <li><a href="#">Sort by Comments</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="pull-right vent-search">
                                <form action="#" class="form-inline" method="post">
                                     <div class="input-prepend input-large">
                                        <span class="add-on"><i class="icon-search"></i></span><input class="input-medium" type="text" />
                                    </div>
                                    <button class="btn">Find a vent</button>
                                </form>
                            </div>
                        </div>
                        <section class="article-list">
                            <article class="vent">
                                <aside class="centered">
                                    <div class="mood-options">
                                        <span class="options-rate1"></span>
                                        <span class="options-rate2"></span>
                                        <span class="options-rate3"></span>
                                        <span class="options-rate4"></span>
                                        <span class="options-rate5"></span>
                                        <span class="options-rate6"></span>
                                        <span class="options-rate7"></span>
                                        <span class="options-rate8"></span>
                                        <span class="options-rate9"></span>
                                        <span class="options-rate10"></span>
                                    </div>                                
                                    <div class="vent-mood vent-rate8"><!-- --></div>
                                    <span>0</span>
                                    <button class="btn btn-mini btn-success btn-relate">Relate</button>
                                </aside>
                                <header>
                                    <span class="author">
                                        by <a href="#">deadmouse</a>
                                    </span>
                                    <span class="date">
                                        4 days ago in <a class="label label-info" href="#">relationships</a>
                                    </span>
                                </header>
                                <p>
                                    <a href="vent.html">
                                        So, I've been dating this awesome girl for a couple month now, but she has some depression issues. She's been on a lot of different antidepressants but the &hellip;
                                    </a>
                                </p>
                                <footer>
                                    <a href="vent.html#comments">2 comments</a> <span>137 views</span> <i class="icon-download pull-right"></i>
                                </footer>
                            </article>                            

                            <article class="vent">
                                <aside class="centered">
                                    <div class="mood-options">
                                        <span class="options-rate1"></span>
                                        <span class="options-rate2"></span>
                                        <span class="options-rate3"></span>
                                        <span class="options-rate4"></span>
                                        <span class="options-rate5"></span>
                                        <span class="options-rate6"></span>
                                        <span class="options-rate7"></span>
                                        <span class="options-rate8"></span>
                                        <span class="options-rate9"></span>
                                        <span class="options-rate10"></span>
                                    </div>
                                    <div class="vent-mood vent-rate9"><!-- --></div>
                                    <span>2</span>
                                    <button class="btn btn-mini btn-success btn-relate">Relate</button>
                                </aside>
                                <header>
                                    <span class="author">
                                        by <a href="#">dashing_pony</a>
                                    </span>
                                    <span class="date">
                                        7 days ago in <a class="label label-info" href="#">anxiety</a>
                                    </span>
                                </header>
                                <p>
                                    <a href="vent.html">
                                        Last year, a colleague of mine was diagnosed with a fast-moving cancer. The appropriate social reaction would have been shock, sorrow, and &mdash; when she died &mdash; &hellip;
                                    </a>
                                </p>
                                <footer>
                                    <a href="vent.html#comments">0 comments</a> <span>248 views</span> <i class="icon-download pull-right"></i>
                                </footer>
                            </article>

                            <article class="vent">
                                <aside class="centered">
                                    <div class="mood-options">
                                        <span class="options-rate1"></span>
                                        <span class="options-rate2"></span>
                                        <span class="options-rate3"></span>
                                        <span class="options-rate4"></span>
                                        <span class="options-rate5"></span>
                                        <span class="options-rate6"></span>
                                        <span class="options-rate7"></span>
                                        <span class="options-rate8"></span>
                                        <span class="options-rate9"></span>
                                        <span class="options-rate10"></span>
                                    </div>
                                    <div class="vent-mood vent-rate1"><!-- --></div>
                                    <span>1</span>
                                    <button class="btn btn-mini btn-success btn-relate">Relate</button>
                                </aside>
                                <header>
                                    <span class="author">
                                        by <a href="#">editingandlayout</a>
                                    </span>
                                    <span class="date">
                                        12 days ago in <a class="label label-info" href="#">depression</a>
                                    </span>
                                </header>
                                <p>
                                    <a href="vent.html">
                                        I'm going to see new therapist in a couple of days and I'm not quite sure how to handle it. With my last psychiatrist I was honest about my substance use &hellip;
                                    </a>
                                </p>
                                <footer>
                                    <a href="vent.html#comments">2 comments</a> <span>137 views</span> <i class="icon-download pull-right"></i>
                                </footer>
                            </article>
                        </section>

                        <div class="pagination pagination-centered">
                            <ul>
                                <li class="disabled">
                                    <a href="#">&larr; Previous</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">Next &rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- end of the tab-pane A1 -->
                </div>
             </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="footer-col">
                    <h4>The Company</h4>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Press</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Information</h4>
                    <address>
                        Telemend <br />
                        395 Page Mill Road <br />
                        Palo Alto, CA 94306 <br />
                        <a href="mailto:">Support Email</a>
                        <strong class="phone">
                            Phone: 
                            <span>1.800.273.TALK (8255)</span>
                        </strong>
                    </address>
                </div>  
                <div class="footer-col">
                    <h4>Our Blog</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. Audito doctrinis paruit unum conversa ait.
                        <a href="#" class="read-more">read more&hellip;</a>
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Disclaimer</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. 
                    </p>
                    <p>
                        Audito doctrinis paruit unum conversa ait.
                    </p>
                </div>
            </div>
            <div class="row copyright">
                <div class="pull-left">
                    <span>Copyright &copy; 2012 <a href="">Spoutlets.com</a></span>
                </div>
                    <a href="#" class="logo-footer pull-right">Spoutlets.com</a>
            </div>
        </footer>
        
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="../public/js/jquery/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/js/highcharts/highcharts.js"></script>
    <script src="../public/js/script.js"></script>
    </body>
</html>