<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spoutlets &mdash; Vent Stream</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.css">

        <!--[if lt IE 9]>
            <script src="../public/js/html5shiv/iepp.js"></script>
        <![endif]-->

    </head>
    <body>
       <header>
          <div class="navbar">
              <div class="navbar-inner">
                  <div class="container">

                      <a href="index.html" class="brand"><strong>Spoutlets</strong>.com</a>

                      <div class="greetings">
                        <div class="greetings-face greetings-rate10"><!-- --></div>
                        <span>How's it going, greatbillsofire?</span>
                      </div>                      

                      <ul class="nav pull-right">
                          <li><a href="#"><i class="icon-cog icon-white"></i> Settings</a></li>
                          <li><a href="index.html"><i class="icon-off icon-white"></i> Sign out</a></li>
                      </ul>                 
                  </div>
              </div>
          </div>
      </header>    
    <div class="container">       
        <div id="main" class="clearfix">
            <div class="row">
                <div class="page-nav">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="tracker.html">Mood Tools</a>
                        </li>
                        <li class="active">
                            <a href="vent-stream.html">Social Therapy</a>
                        </li>
                        <li>
                            <a href="#">You time</a>
                        </li>
                    </ul>
                </div>
            </div>
      
            <div class="row">
                <div class="tabbable tabs-left nav-left-col">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#"><i class="icon-conversation-header"></i> Vent Stream</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-vector-path-circle-header"></i> Support Circle</a>
                        </li>
                        <li>
                            <a href="my-profile.html"><i class="icon-user-header"></i> My Profile</a>
                        </li>
                    </ul>
                    <div class="well venting-flow">
                        <h5>Who's venting what?</h5>
                        <ul class="unstyled">
                            <li>
                                <a class="venting-timeline-mood timeline-rate4" href="user-profile.html"><!-- --></a>
                                <div>
                                    <a href="user-profile.html">tearsaresilent</a>
                                    <p>&quot;I have a &hellip;&quot;</p>
                                </div>
                            </li>
                            <li>
                                <a class="venting-timeline-mood timeline-rate9" href="#"><!-- --></a>
                                <div>
                                    <a href="#">xxaphroditexx</a>
                                    <p>&quot;I'm sure we &hellip;&quot;</p>
                                </div>
                            </li>
                            <li>
                                <a class="venting-timeline-mood timeline-rate1" href="#"><!-- --></a>
                                <div>
                                    <a href="#">anxiousreginald</a>
                                    <p>&quot;I dealt with &hellip;&quot;</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#">See more &hellip;</a>
                    </div>
                </div>
              
                <div class="tab-content">
                    <div class="vertical-border"><!-- --></div>
                    <div class="tab-pane active">
                        <header class="page-header-main">
                            <h1>Vent <i class="icon-conversation-header"></i></h1>
                        </header>

                        <div class="row">
                            <section>
                                <article class="vent">
                                    <aside class="centered">
                                        <div class="vent-mood vent-rate8"><!-- --></div>
                                        <span>25</span>
                                        <button class="btn btn-mini btn-success">Relate</button>
                                    </aside>
                                    <header>
                                        <span class="author">
                                            by <a href="#">deadbyshruberry</a>
                                        </span>
                                        <span class="date">
                                            4 days ago in <a class="label label-info" href="#">depression</a>
                                        </span>
                                        <i class="icon-download pull-right"></i>
                                    </header>
                                    <p>
                                        I don't know if anyone will agree with this, but it seems like, if you tell people you're depressed and anxious, at first they'll feel bad for you and try to help you, but then they start to say you just need to snap out of it, and then they start to think you're just craving attention (especially when you start thinking about suicide).
                                    </p>
                                    <p>
                                        So then you stop telling your family and friends, you start pretending things are better, but you just feel worse and worse, and you keep feeling suicidal more and more, but you speak of it less and less. And then eventually, someone does commit suicide, when they have not told anyone they were about to.
                                    </p>
                                    <p>
                                        And yet, based on what I've seen from when people have committed suicide, the general feeling is that &quot;oh, if only X had told us how he/she felt, we could've helped them, we would've helped them&quot;.
                                    </p>
                                    <footer class="form-response">
                                        <form action="#" method="post">
                                            <textarea placeholder="Add a response&hellip;"></textarea>
                                            <div class="control-group">
                                                <button class="btn btn-primary pull-right">Respond</button>
                                            </div>
                                        </form>
                                    </footer>
                                </article>     
                            </section> <!-- end of tab-pane section --> 
                        </div>

                        <div class="page-header" id="comments">
                            <h3>20 responses</h3>
                        </div>
                        <div>
                            <ul class="nav nav-pills">
                                <li class="nav-header">Sorted by:</li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Best <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="#">Best</a></li>
                                        <li><a href="#">Date</a></li>
                                        <li><a href="#">Response</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <ul class="comments unstyled">
                            <li>
                                <header>
                                    <span class="author">
                                        by <a href="#">significantshrinkage</a>
                                    </span>
                                    <span class="date">
                                        5 mins ago
                                    </span>
                                </header>
                                <p>
                                    I totally agree with your statement, that is why I always try to consider how others feel and try to not minimize their feelings. I mean, it's just plain stupid that some people pretend they want to help a depressed person, but then act like if it takes too much energy to help someone they are supposed to care about.
                                </p>
                                <p>
                                    Then, they deresponsabilize themselves by saying what you mentionned if the person commit suicide. Mostly when they didn't really want to help and just acted like &quot;some got it worse than you, there's no big deal&quot; and pretend everything was ok for the person. I've felt this way a lot and I feel it's important to treat others like you'd love to be treated.
                                </p>
                                <footer>
                                    <div class="voting">
                                        <a href="#" class="thumb-up"><!-- --></a>
                                        <a href="#" class="thumb-down"><!-- --></a>
                                    </div>
                                    <a href="#">Respond</a> <span>(2)</span> <i class="icon-download pull-right"></i>
                                </footer>

                                <ul class="unstyled">
                                    <li>
                                         <header>
                                            <span class="author">
                                                by <a href="#">spinlock</a>
                                            </span>
                                            <span class="date">
                                                1 hr ago
                                            </span>
                                        </header> 
                                        <p>
                                            The worst fight I ever had with my wife was over her reaction to my depression. I was having trouble getting off the couch and my buddy and I decided to go skiing for the day. It really did the trick and got me energized again. But, the wife doesn't get depression so she laid a huge guilt trip on me for &quot;having the time to go skiing but not helping plan the wedding.&quot; When I finally got back to level enough to talk to her about it I tried to explain that depression is a momentum thing and that if I start feeling better I have more energy to do things like help out with wedding planning. Long story short, this ended badly.                                           
                                        </p>
                                        <p>
                                            Anyway, if I could change anything about my wife it would be her understanding of depression. The &quot;just snap out of it&quot; mindset is so destructive to our relationship. She's great at laying on the guilt because I'm not good enough too. Just the thing for someone trying to manage their depression, right?
                                        </p>
                                        <footer>
                                            <div class="voting">
                                                <a href="#" class="thumb-up"><!-- --></a>
                                                <a href="#" class="thumb-down"><!-- --></a>
                                            </div>
                                            <a href="#">Respond</a> <span>(2)</span> <i class="icon-download pull-right"></i>
                                        </footer>                                      
                                    </li>

                                    <li>
                                         <header>
                                            <span class="author">
                                                by <a href="#">koala_ambush</a>
                                            </span>
                                            <span class="date">
                                                2 hrs ago
                                            </span>
                                        </header> 
                                        <p>
                                            Very true. The last bit you wrote really is depressiong. For me, seven years after a suicide attempt, telling my parents that I feel suicidal (but not able to go through with it) is no real cause for concern. I've had issues all my life, so to my parents it's just how I am, just koala_ambush and her crazy antics again! This whole thing makes me feel guilty for thinking I have it bad. I know my mind doesn't make sense with reality, but it still hurts. People are just 'used' to my depression and ignore me.                                       
                                        </p>
                                        <footer>
                                            <div class="voting">
                                                <a href="#" class="thumb-up"><!-- --></a>
                                                <a href="#" class="thumb-down"><!-- --></a>
                                            </div>
                                            <a href="#">Respond</a> <span>(1)</span> <i class="icon-download pull-right"></i>
                                        </footer>                                      

                                        <ul class="unstyled">
                                            <li>
                                                 <header>
                                                    <span class="author">
                                                        by <a href="#">secretzombie</a>
                                                    </span>
                                                    <span class="date">
                                                        2 hrs ago
                                                    </span>
                                                </header> 
                                                <p>
                                                    The only one I can't really lie to about the way I feel is my husband, but I don't think that even he can fully understand it and I don't blame him.                                          
                                                </p>
                                                <p>
                                                    I don't tell anyone else because even though now I realize that I've probably been depressed my whole life, I was once ignorant about it and didn't understand and sometimes would look down on people who were depressed. I really regret it and that makes me feel even shittier =(
                                                </p>
                                                <p>
                                                    &quot;And yet, based on what I've seen from when people have committed suicide, the general feeling is that &quot;oh, if only X had told us how he/she felt, we could've helped them, we would've helped them&quot;.
                                                </p>
                                                <p>
                                                    That's true, when most suicides happen, people are surprised.
                                                </p>
                                                <footer>
                                                    <div class="voting">
                                                        <a href="#" class="thumb-up"><!-- --></a>
                                                        <a href="#" class="thumb-down"><!-- --></a>
                                                    </div>
                                                    <a href="#">Respond</a> <span>(1)</span> <i class="icon-download pull-right"></i>
                                                </footer>                                      
                                            </li>                                            
                                        </ul> <!-- end of 3rd level nested comments -->
                                    </li>
                                </ul> <!-- end of 2nd level nested comments -->
                            </li>

                            <li>
                                 <header>
                                    <span class="author">
                                        by <a href="#">prozaclady</a>
                                    </span>
                                    <span class="date">
                                        5 min ago
                                    </span>
                                </header> 
                                <p>
                                    My friendships are stronger because we can be there for each other in the normal ways, and it's not always about me, me ,me. And I think they're all much more willing to be there in a crisis because I don't bother them all the time.
                                </p>
                                <p>
                                    And, Reddit helps, too. It's nice sometimes to just throw your problems out into the Internet ether to people you will never have to see in person, etc.                                   
                                </p>
                                <p>
                                    Best of luck :)
                                </p>
                                <footer>
                                    <div class="voting">
                                        <a href="#" class="thumb-up"><!-- --></a>
                                        <a href="#" class="thumb-down"><!-- --></a>
                                    </div>
                                    <a href="#">Respond</a> <span>(2)</span> <i class="icon-download pull-right"></i>
                                </footer>                                      
                            </li>   
                        </ul>

                        <div class="pagination pagination-centered">
                            <ul>
                                <li class="disabled">
                                    <a href="#">&larr; Previous</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">Next &rarr;</a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- end of the tab-pane A1 -->
                </div>
             </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="footer-col">
                    <h4>The Company</h4>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Press</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Information</h4>
                    <address>
                        Telemend <br />
                        395 Page Mill Road <br />
                        Palo Alto, CA 94306 <br />
                        <a href="mailto:">Support Email</a>
                        <strong class="phone">
                            Phone: 
                            <span>1.800.273.TALK (8255)</span>
                        </strong>
                    </address>
                </div>  
                <div class="footer-col">
                    <h4>Our Blog</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. Audito doctrinis paruit unum conversa ait.
                        <a href="#" class="read-more">read more&hellip;</a>
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Disclaimer</h4>
                    <p>
                        Virginis in modo genito in modo compungi mulierem ubi confudit huc apud brevi terminatur se ad nomine Hesterna. 
                    </p>
                    <p>
                        Audito doctrinis paruit unum conversa ait.
                    </p>
                </div>
            </div>
            <div class="row copyright">
                <div class="pull-left">
                    <span>Copyright &copy; 2012 <a href="">Spoutlets.com</a></span>
                </div>
                    <a href="#" class="logo-footer pull-right">Spoutlets.com</a>
            </div>
        </footer>
        
    </div>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="../public/js/jquery/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="../public/js/highcharts/highcharts.js"></script>
    <script src="../public/js/script.js"></script>
    </body>
</html>