/*!
 * Spoutlets
 *
 * Copyright 2012 Spoutlets, Inc
 *
 * Customizations for spoutlets.com
 */


// layout variables

@header_height: 70px;


// color variables

@bg_color: #f9f9f9;
@main_block_color: #fff;
@border_color: #dcdcdc;
@bg_highlight_color: #e6e6e6;
@hgroup_color: #dcf3f9;
@grey_color: #808080;
@dark_grey_color: #404040;
@light_grey_color: #aaa;


//custom-mixins

.col (@col) {
    #gridSystem > .gridColumn(@gridGutterWidth);
    #gridSystem > .columns(@gridGutterWidth, @gridColumnWidth, @gridRowWidth, @col); 
}

.round-borders(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}


// ico styles

[class *="ico-"] {
    position: relative;
}

[class *="ico-"]:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    height: 20px;
    width: 25px;
    background-image: url(../img/sprite_main.png);
    background-repeat: no-repeat;
}

.ico-trends-header:after {
    background-position: -160px -60px;
}

.ico-tracker-header:after {
    background-position: -120px -60px;
}

.ico-map-header:after {
    background-position: -80px -60px;
}

.ico-vent-stream-header:after {
    background-position: -40px -60px;
}


// general styles

body {
    background: @bg_color !important;
}

a, a:hover {
    -webkit-transition-property: color;
    -webkit-transition-duration: .5s;
    -moz-transition-property: color;
    -moz-transition-duration: .5s;	
    -o-transition-property: color;
    -o-transition-duration: .5s;	
}

.inline {
    display: inline;
    padding: 0 10px 0 0;
}

.centered {
    text-align: center;
}

.text-align-left {
    text-align: left !important;
}

.no-header {
    margin: 20px 0 0 0;
}

.top-border {
    border-top: 1px solid @border_color;
    padding-top: 20px;
    margin-top: 10px;

    .nav {
        padding-left: 20px;
    }
}

.nav-pills .nav-header {
    padding: 9px 15px 5px 15px;
}

.lnk-edit {
    padding: 0 10px 0 0;
    font-size: 13px;
    font-weight: normal;
}

.dropdown-label {
    float: left;
    display: block;
    padding: 10px 5px;
    color: @grey_color;
}

.bg-white {
    background-color: #fff;
}

// main styles

.container > header {
    height: @header_height;
    
    .logo {
        .col(4);

        display: block;
        width: 160px;
        height: 30px;
        margin-top: 10px;
        background: url(../img/sprite_main.png) 0 0 no-repeat;
        text-indent: -9999px;
    }
}

#main {
    background: @main_block_color;
}

.page-nav {
    .col(12);

    height: 50px;
    background: @bg_color;
    border-bottom: 1px solid @border_color;
    
    .greetings {
        .col(3);

        display: block;
        margin: 5px 0 0 0;
        padding: 1px 0 0 50px;
        background: url(../img/sprite_main.png) -160px 5px no-repeat;
        color: @grey_color;
    }
    
    .greetings strong {
        display: block;
    }

    .nav {
        .col(8);

        margin-top: 15px;
        font-size: 14px;       
        
        a {
            padding: 10px 15px;            
        } 
    }
}

.nav-left-col {
    .col(3);

    padding-top: 20px;
    
    .nav-tabs {
        float: right !important;
        margin: 0 -1px 0 0 !important;

    }

    a {
        width: 180px;
        background-color: @bg_highlight_color;
    }


    .well {
        .pull-right;
        clear: both;
        width: 145px;
        margin: 30px 20px 10px 15px;
        color: @grey_color;

        h5 {
            color: @grey_color;
        }
    }

    .venting-flow {

        a {
            background-color: transparent;
        }
        
        ul {
            margin: 20px 0 0 0;
            padding-bottom: 15px;
        }

        li {
            .clearfix;

            margin: 10px 0 20px 0;
            border-bottom: 1px solid @border_color;
            
            > div {
                margin: 0 0 0 40px;
            }            
        }

        .venting-userpic {
            .pull-left;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0 10px 0 0;
        }
    }
}

.tab-content {
    .col(9);

    width: 680px !important;
    margin: 20px 0 !important;
    padding: 0 0 0 20px;
    border-left: 1px solid @border_color;
  
    section {
        margin-bottom: 20px;
    }

    .pane-left-col {
        .col(3);
    }

    .pane-right-col {
        .col(6);
        width: 440px;

        .input-max {
            width: 430px;
        }
    }

    .pane-left-col-wide {
        .col(6);
    }

    .pane-right-col-narrow {
        .col(2);
        width: 180px;
    }

    .lnk-tag {
        padding: 0 0.3em;
        color: @grey_color;
        line-height: 1.2;  
    }
}

.mood-status form {
    margin-top: 10px;
}

.page-header-main {
    margin: 18px 0;
    padding: 0 10px;
    border-bottom: none;
    
    h1 {
        display: inline-block;
        
        &[class *="ico-"]:before {
            display: none;
        }    
        
        &[class *="ico-"]:after {
            content: "";
            position: absolute;
            right: -55px;
            top: 1px;
            height: 30px;
            width: 30px;
            background-image: url(../img/sprite_main.png);
            background-repeat: no-repeat;
        }          
    }
}

.section-header {
    margin: 0 0 20px 0;

    h2 {
        .round-borders(3px);
        padding: 2px 10px;
        line-height: 28px;
        color: #404143;
        background: @hgroup_color;       
        border: 1px solid darken(@hgroup_color, 5%);
    }
    
    h4 {
        margin: 30px 0;
    }

    h5 {
        margin: 15px 0;
    }

    h6 {
        margin: 20px 0;
        color: @grayDark;
        font-weight: normal;
        text-transform: none;
    }
}

.section-col {
    display: inline-block;
    width: 200px;
    height: 180px;
    margin: 0 0 0 35px;
}

.section-col:first-child {
    margin-left: 20px;
}

.userpic {
    margin-bottom: 10px;
}

#chart-graph-mood {
    width: 430px;
    height: 200px;
}

#chart-graph {
    width: 680px;
}

.article-list {
    clear: both;
}

.article-list > article {
    padding-bottom: 20px;
}

.lnk-block {
    color: #333333;
}

.lnk-block:hover {
    text-decoration: none;
}

.txt-link {
    color: #0088cc;
    -webkit-transition-property: color;
    -webkit-transition-duration: .5s;
    -moz-transition-property: color;
    -moz-transition-duration: .5s;  
    -o-transition-property: color;
    -o-transition-duration: .5s;        
}

.lnk-block:hover > .txt-link {
    color: #005580;
    text-decoration: underline !important;
    -webkit-transition-property: color;
    -webkit-transition-duration: .5s;
    -moz-transition-property: color;
    -moz-transition-duration: .5s;  
    -o-transition-property: color;
    -o-transition-duration: .5s;        
}

.graph1 {
    background: url(../img/sprite_main.png) 0 -190px no-repeat;
}

.graph2 {
    background: url(../img/sprite_main.png) -240px -190px no-repeat;
}

.graph3 {
    background: url(../img/sprite_main.png) -480px -190px no-repeat;
}

.vent-form {
    .col(8);
    width: 640px;
    padding-bottom: 10px;

    textarea {
        width: 630px;
        height: 80px;
        margin-bottom: 10px;
    }

    .input-large {
        width: 190px;
        margin-right: 10px;
    }
}

.vent-search {
    .input-large {
        width: 200px;
    }
}

.vent {
    margin: 0 0 0 20px;

    &:first-child {
         padding-top: 20px;
    }

   > aside {
        .pull-left;
        .round-borders(5px);

        position: relative;
        margin: 0 25px 0 0;
        width: 85px;
        height: 75px;
        background-color: @dark_grey_color;

        span {
            display: block;
            padding: 15px 15px 12px 15px;
            color: #fff;
            font-weight: bold;
            font-size: 30px;

        }

        &:after {
            content: "";
            position: absolute;
            right: -10px;
            top: 25px;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid @dark_grey_color;            
        }
    }

    header {
        margin: 0 0 0 120px;
        padding: 3px 0 15px 0;
        color: @grey_color;

        .author {
            margin: 0 30px 0 0;
        }

        .label {
            margin-left: 5px;
        }
    }

    p {
        margin: 0 0 5px 120px;
    }


    footer {
        margin: 20px 0 20px 120px;
        padding: 0 0 3px 0;
        color: @light_grey_color;
        border-bottom: 1px solid @light_grey_color;

        a {
            color: @light_grey_color;
        }

        span {
            margin: 0 0 0 40px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -20px;
                top: 2px;
                width: 1px;
                height: 15px;
                background-color: @light_grey_color;
            }
        }
    }

    .form-response {
        margin-top: 30px;
        border-bottom: none;
        textarea {
            width: 550px;      
            height: 80px;
        }
    }
}


.comments {
    
    li {
        margin: 35px 0;


        header {
            padding: 3px 0 15px 0;
            color: @grey_color;

            .author {
                margin: 0 30px 0 0;
            }
        }

        p {
            margin-bottom: 5px;
        }

        footer {
            margin: 20px 0;
            padding: 5px 0;
            color: @grey_color;
            border-bottom: 1px solid @border_color;

            .voting {
                float: left;
                display: inline-block;
                width: 60px;
            }

            .thumb-up, .thumb-down {
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../img/sprite_main.png) 0 -110px no-repeat;
            }

            .thumb-down {
                background-position: -30px -110px;
            }
        }

        > ul {
            margin-left: 60px;
        }
    }
}

a[href="#mood-rate"] {
    margin-top: 15px;
}

#mood-rate {
    margin-top: -140px;
    margin-left: -940px / 2;
    width: 940px;
    border: 4px solid black;

    .mood-form {
        margin: -10px 0 15px 0;
    }
}

.wrapper-modal {
    padding: 15px;
    border: 5px solid @grey_color;
}

.container > footer {
    margin: 50px 0 0 0;
    
    h4 {
        margin: 0 0 20px 0;
    }
    
    a {
        color: #000;
    }
    
    a[href *="mailto:"] {
        text-decoration: underline;
    }

    .footer-col {
        .col(3);
    }
    
    .read-more {
        color: #8e8e8e;
    }
    
    .phone {
        display: block;
        padding: 5px 0;
        font-size: 14px;
        text-transform: uppercase;
        
        span {
            font-size: 16px;
            padding: 5px 0;
            display: block;
        }
    }
}

.copyright {
    border-top: 1px solid @border_color;
    margin: 20px 0 20px 10px !important;
    padding: 25px 0 15px 0;
}

.logo-footer {
    display: block;
    width: 140px;
    height: 30px;
    margin: -10px 0 0 0;
    text-indent: -9999px;
    background: url(../img/sprite_main.png) 0 -140px no-repeat;
}